html,body{
    height:100%;
     min-height:100%; 
     background: #898484;
    }   

.serv label{
    padding: 5px;
    /* 
    float: left;
    */
}
.serv input{
    padding: 5px;
    /*
  float: right;
  */
}
.ingrForm{
    width:50vw
}

.unitLabel{
    /*
    float:right
    */
}

.container{
    margin-left: 1.5vw;
}

.ingrFormLabel{
    min-width: 130px;

}